* {
  /* this will be header and nav fonts */
  font-family: 'Libre Franklin', sans-serif;
  /* this will be paragraph and everything non heading wise. */
  /* font-family: 'Lato', sans-serif; */
}

body {
  min-width: 350px;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: 'Libre Franklin', sans-serif;
}

.navbar {
  font-family: 'Libre Franklin', sans-serif;
  color: #F7F7F7;
}

p {
  font-family: 'Lato', sans-serif;
}

.secNavLink {
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: .8em;
  height: 2em;
  border-bottom: 2px solid transparent;
}

.secNavLink:hover {
  color: #F7F7F7 !important;
  border-bottom: 2px solid #F7F7F7;
}

.navbar-nav {
  width: 100%;
  justify-content: center;
  height: 100%;
}

#navbarNav {
  width: 100%;
  height: 100%;
}

.nav-link {
  height: 100%;
  text-transform: uppercase;
}

.navbar-brand {
  font-size: 2em;
  text-transform: uppercase;
  margin: 0 auto;
}

.nav-item {
  margin: 0 1em;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  color: rgba(255, 255, 255, 0.5) !important;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #333;
}

.masthead {
  background-image: url('../img/home.jpg');
  text-align: center;
  color: white;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 92vh;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax {
  background-image: url("../img/productListBg.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-text {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
}

.intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: rgba(51, 51, 51, 0.8);
  border-color: #333;
  margin: 1em;
  padding: 1em 2em;
  outline: none;
  min-width: 10em;
}

.btn-primary:hover, .btn-primary:active {
  background-color: rgba(51, 51, 51, 1);
  border-color: #333;
}

.fa {
  color: rgba(0, 0, 0, 0.5);
}

.fa-shopping-bag {
  font-size: 1.5em;
}

.bg-faded {
  background-color: rgba(247, 247, 247, 0.9);
}

.buttonGroup {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em;
}

.numInBag {
  background-color: rgba(51, 51, 51, 1);
  padding: .5em 1em;
  border-radius: 100%;
  font-size: .7em;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0;
  width: 100%;
  padding: 50% 0;
  position: absolute;
  z-index: 1500;
  top: -10px;
  left: 10px;
}

a {
  text-transform: uppercase;
  color: #333;
  text-decoration: none !important;
}

a:hover a::selection a:active a:visited {
  color: rgba(51, 51, 51, 0.8) !important;
}


/* .card-subtitle:hover .card-subtitle:visited {
  color: rgba(51, 51, 51, 0.8) !important;
} */

#basket {
  margin: 2em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

h3 {
  margin: 0;
}

.cart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.card {
  width: 100%;
  margin: .5em;
}

.card-header {
  background-color: rgba(51, 51, 51, .9);
  color: #F7F7F7;
}

.clothingItem {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 1em auto;
}

.clothingContainer {
  margin: 1em auto;
}

.main-container {
  position: relative;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
  padding-bottom: 3em;
}

.fixedtotop {
  z-index: 1035;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0px;
}

.storeCollapse {
  z-index: 1035;
  top: 232px;
  position: absolute;
  right: 0;
  left: 0;
}

.product-masthead {
  height: 100%;
}

.about-container {
  margin: 6em auto 2em auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  margin: 1em;
  display: flex;
  flex-direction: column;
}

.about-img {
  height: 13.3em;
  width: 20em;
}

@media (min-width:600px) {
  .about-img {
    height: 20em;
    width: 30em;
  }
}

@media (min-width:992px) {
  .buttonGroup {
    flex-direction: row;
  }
  #basket {
    flex-direction: row;
    align-items: flex-start;
  }
  .clothingContainer {
    display: flex;
    top: 0px;
    margin: 0 auto;
  }
  .clothingItem {
    margin: 1em;
  }
  .storeCollapse {
    top: 72px;
  }
  .product-masthead {
    height: 92vh;
  }
  .about-container {
    flex-direction: row;
    margin-top: 10em;
  }
  .content {
    margin: 0;
    margin-left: 1em;
  }
}